<div class="site-content">
	<section class="home-callout home-section">
		<div class="title">
			<p>Redis is an open source, BSD licensed, advanced <strong>key-value cache</strong> and <strong>store</strong>. It is often referred to as a <strong>data structure server</strong> since keys can contain <a href="/topics/data-types-intro#strings">strings</a>, <a href="/topics/data-types-intro#hashes">hashes</a>, <a href="/topics/data-types-intro#lists">lists</a>, <a href="/topics/data-types-intro#sets">sets</a>, <a href="/topics/data-types-intro#sorted-sets">sorted sets</a>, <a href="/topics/data-types-intro#bitmaps">bitmaps</a> and <a href="/topics/data-types-intro#hyperloglogs">hyperloglogs</a>.</p>
			<a class="learn-more" href="/topics/introduction">Learn more →</a>
		</div>
	</section>
	<div class="home-intro home-section">
		<section>
			<h2>Try it</h2>
			<p>
				Ready for a test drive? Check this
				<a href="http://try.redis.io">interactive tutorial</a> that will walk you through the most important features of Redis.
			</p>
		</section>
		<section>
			<h2>Download it</h2>
			<p>
				<a href="http://download.redis.io/releases/redis-3.0.2.tar.gz">Redis 3.0.2 is the latest stable version.</a> Interested in release candidates or unstable versions?
				<a href="/download">Check the downloads page.</a>
			</p>
		</section>
		<section>
			<h2>Quick links</h2>
			<p>
				Follow day-to-day Redis on <a href="http://twitter.com/redisfeed">Twitter</a> and
				<a href="http://github.com/antirez/redis">GitHub</a>. Get help or help others by subscribing to <a href="https://groups.google.com/forum/?fromgroups#!forum/redis-db">our mailing list</a>, we are 5,000 and counting!
			</p>
		</section>
	</div>
	<div class="home-buzz home-section">
		<section data-limit="5" id="buzz">
			<h2>Redis News</h2>
			<ul></ul>
			<a href="/buzz">More...</a>
		</section>
	</div>
</div>
