<link rel="stylesheet" type="text/css" href="css/style.css">
<div id="content" class="clearfix">
  <div class="contentLeft">
    
    <div class="clearfix"></div>
    <div class="leftNav clearfix"> <a href="#" class="leftNav_1">增值税专用发票查验</a> <a href="#" class="leftNav_2">货运增值税专用发票查验</a> <a href="#" class="leftNav_3">增值税普通发票查验</a> <a href="#" class="leftNav_4">机动车销售统一发票查验</a> </div>
    
  </div>
  <div class="cms_r" id="cms_r">
    <div class="title">发票查验明细</div>
    <div class="cms_r_main">
      <div class="chayan_div">
      
        <table  border="1" class="comm_table" width="90%" style="margin:0 auto;">
          <tr class="result_title">
            <th colspan="4" ><span style="font-size:16px; color:#fff; float:left;">查验次数：第1次</span>
            <span style="float:right"><button>打印</button>
            <button>导出</button></span>
            </th>
          </tr>
          <tr>
            <td width="15%" class="td_center">查验流水号</td>
            <td width="35%" class="td_left">12345</td>
            <td width="15%" class="td_center">发票状态</td>
            <td width="35%" class="td_left">正常</td>
          </tr>
          <tr>
            <td class="td_center">发票代码</td>
            <td class="td_left">{{.fpdm}}</td>
            <td class="td_center">发票号码</td>
            <td class="td_left">{{.fphm}}</td>
          </tr>
          <tr>
            <td class="td_center">开具单位</td>
            <td class="td_left">国税局</td>
            <td class="td_center">税号</td>
            <td class="td_left">{{.xfsbh}}</td>
          </tr>
          <tr>
            <td class="td_center">付款单位</td>
            <td class="td_left">长软</td>
            <td class="td_center">税号</td>
            <td class="td_left">{{.gfsbh}}</td>
          </tr>
          <tr>
            <td class="td_center">开具日期</td>
            <td class="td_left">{{.kprq}}</td>
            <td class="td_center">金额</td>
            <td class="td_left">{{.je}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="td_left">&nbsp;</td>
            <td class="td_center">税额</td>
            <td class="td_left">{{.se}}</td>
          </tr>
        </table>
        <table border="1" class="comm_table" width="90%" style="margin:0 auto; margin-top:-1px;">
              <tr style="background:#fff url(images/tab_title_bg.png) repeat-x left bottom;">
                <th scope="col">项目</th>
                <th scope="col">数量</th>
                <th scope="col">单价</th>
          </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table  border="1" class="comm_table" width="90%" style="margin:0 auto;margin-top:-1px;">
          <tr class="result_title">
            <td width="100%"><span style="font-size:14px; color:#fff;">查验结果</span></td>
          </tr>
          <tr>
            <td>一致</td>
          </tr>
        </table>
        <div style="padding:30px 35px 0px 35px;">说明：发票信息不符时不得作为财务报销凭证，任何单位和个人有权拒收并举报！</div>
      </div>
      
      <div class="comm_btn_div clearfix"> <a href="verify.html"> <img src="images/fanhui_btn.gif"> </a> </div>
      
    </div>
  </div>
</div>

<script type="text/javascript" src="js/jquery-float.js"></script>